.mainContent {
    overflow: scroll;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 3vw 0 0 0;
    align-items: center;
}

.mainContent {
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}

.mainContent::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

.mainContent h1 {
    font-size: max(5.3vw, 5.3vh);
    margin: 0;
}

.mainContent h2 {
    font-size: max(2vw, 2vh);
    /* font-family: 'Libre Baskerville', serif; */
    font-family: 'Space Mono', monospace;
    font-style: italic;
    font-weight: 400;
}

.mainContent h3 {
    font-size: max(1.5vw, 2vh);
    font-family: 'Libre Baskerville', serif;
    font-weight: 400;
}

.aboutContainer {
    width: 100%;
    display: grid;
    grid-template-columns: 0.45fr 0.65fr;
    flex: 0 0 90%;
    align-items: center;
}

.aboutButton {
    position: relative;
    border: 0;
    background: linear-gradient(270deg, #f06449, #ef3636);
    color: white;
    padding: 10px 7px;
    font-weight: 600;
    font-size: 0.87em;
    letter-spacing: 2px;
    overflow: hidden;
}

.aboutButton{
    cursor: pointer;
}

.aboutMask{
    background: linear-gradient(to right, blue, navy 80%);
    color: transparent;
    position: absolute;
    padding: 10px 7px;
    top: 0px;
    left: -110px;
    transition: left 500ms;
}

.aboutButton:hover>.aboutMask{
    left: 110px;
    transition: left 500ms;
}

.aboutAngleIcon{
    position: relative;
    left: -18px;
    bottom: -2px;
    transition: left 500ms;
}

.aboutButton:hover+.aboutAngleIcon{
    left: -12px;
    transition: left 500ms;
}

.displayPicture {
    border-radius: 20%;
    margin: 8% 14% 8% 0;
    height: 17vw;
    border: 10px solid rgba(0, 0, 0, 0.2);
    /* box-shadow: 10px 10px 10px rgba(0,0,0, 0.2); */
    justify-self: end;
}

.workTagContainer{
    text-align: center;
    flex: 0 0 10%;
}

.workTag{
    font-size: 1.2rem;
    margin: 15% 0;
}

.workTagContainer>i{
    position: relative;
    top: 0px;
    transition: top 500ms;
}

.workTagContainer:hover>i{
    position: relative;
    top: 5px;
    transition: top 500ms;
}

@keyframes dpAnimation {
    0% {
        transform: translateY(0px)
    }

    20% {
        transform: translateY(-10px)
    }

    50% {
        transform: translateY(0px)
    }

    70% {
        transform: translateY(-10px)
    }

    100% {
        transform: translateY(0px)
    }
}

.displayPicture:hover {
    animation: dpAnimation 5s infinite;
}

/* WORK SECTION */

.workPage{
    padding: 5vw 5vw 0 5vw;
    list-style-type: none;
}

.workPage>li{
    margin: 15% 0;
}

.workPage>li:first-child{
    margin-top: 0;
}

.workPage>li:last-child{
    margin-bottom: 0;
}

.project{
    position: relative;
    width: 80%;
    overflow: hidden;
    margin: auto;
}

.workImage{
    object-fit: cover;
    width: 100%;
}

.workMask{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
}

.workMask:hover{
    opacity: 1;
    transition: opacity 1s;
}

.workMask button{
    border: 1px solid rgba(255, 255, 255, 0.8);
    background-color: transparent;
    color: var(--fontColor);
    font-weight: 600;
    letter-spacing: 1px;
    padding: 2%;
}

.workMask button:hover{
    background: linear-gradient(270deg, #f06449, #ef3636);
}

.workLink{
    text-decoration: none;
    color: var(--fontColor);
}

@media (max-width: 800px) {
    .aboutContainer{
        grid-template-columns: 1fr;
        grid-auto-flow: row;
        justify-items: center;
    }

    .aboutContainer .displayPicture{
        justify-self: unset;
        margin: 0;
        width: 200px;
        height: 200px;
    }
}